html body {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

/* body {
	padding: 0;
	margin: 0;
} */

.container {
	/* border: 5px solid red; */
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

.left-container {
	width: 40vw;
	height: 100vh;
	position: relative;
}

.overlay-text {
	width: 100%;
	height: 15%;
	background-color: rgb(237, 234, 229, 0.7);
	position: absolute;
	top: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 52px;
	font-weight: 400;
}

.right-container {
	height: 100vh;
	width: 60vw;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.form-container {
	width: 60vw;
	height: 33vh;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: white;
}

.top-container {
	display: flex;
	flex-direction: column;
	width: 60vw;
	height: 33vh;
	background-color: #faf9f7;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	text-align: center;
}

.bottom-container {
	background-color: #faf9f7;
	height: 34vh;
}

.image-text {
	position: absolute;
	top: 10px;
	left: 10px;
}

a:link,
a :visited {
	color: black;
	text-decoration: underline;
}

a:active,
a:hover {
	text-decoration: none;
}

img {
	width: 40vw;
	height: 100%;
}

fieldset {
	box-sizing: border-box;
	border: 0;
	height: 100%;
	width: 100%;
}

legend {
	position: relative;
	top: 5px;
	font-weight: 400;
}

sup {
	font-size: 12px;
}

form {
	font-weight: 100;
	font-size: 20px;
	width: 100%;
	height: 100%;
}

input {
	appearance: none;
	width: 80%;
	height: 1.8em;
	border-radius: 8px;
	border: 1px solid #d3d3d3;
	margin-top: 8px;
}

input:optional {
	border: 1px solid #d3d3d3;
}

input:invalid {
	border: 1px solid red;
}

input:required:valid {
	border: 1px solid green;
}

.grid-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas:
		'first-name last-name'
		'email tel'
		'password password-verify'
		'submit-button .';
	height: 100%;
	width: 100%;
	align-items: center;
}

.grid-container > div {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
div > button {
	cursor: pointer;
	width: 30%;
	height: 40px;
	margin-top: 5%;
	margin-left: 5%;
	border: 0;
	border-radius: 15px;
	background: #1b5d00;
	color: white;
	box-shadow: 10px 10px 10px #a8a8a8, -10px -10px 10px #ffffff;
	transition: 0.2s ease-in-out;
}
button:hover {
	box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
		-2px -2px 4px rgba(255, 255, 255, 0.4),
		2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
button:active {
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
		inset -2px -2px 4px rgba(255, 255, 255, 0.5),
		inset 2px 2px 2px rgba(255, 255, 255, 0.075),
		inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.login-text {
	margin-top: 5%;
	margin-left: 5%;
}

.first-name {
	grid-area: first-name;
}

.last-name {
	grid-area: last-name;
}

.email {
	grid-area: email;
}

.tel {
	grid-area: tel;
}

.password {
	grid-area: password;
}

.password-verify {
	grid-area: password-verify;
}

.submit-button {
	grid-area: submit-button;
}

.error {
	width: 50%;
	padding-left: 8px;
	font-size: 80%;
	color: white;
	background-color: #900;
	border-radius: 15px;
	box-sizing: border-box;
}

.error.active {
	padding: 0.3em;
}
